#div5_first{
    background-color: #FFFEF2;
    display:'flex';
}

#div5_second{
    font-family: 'Inter, sans-serif';
    font-Weight:'500'
}

#div5_third{
    flex: '0.70';
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#div5_button{
    background-color: transparent; 
    border: 1px solid #D6D5CC;
    color:black; 
    padding: 10px 20px; 
    cursor: pointer;
    width: 80%;
    text-align: start;
    font-weight: 600;
    margin-top: 2ch;
    padding: 2.5ch;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  } 