#divnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  #notofications {
    color: white;
    padding: 14px;
    font-size: 23px;
    margin-right: 2ch;
  }
  
  #Login {
    color: black;
    padding: 14px;
    font-size: 17px;
    background-color: #fff44f;
    margin-right: 2ch;
  }
  
  
  #circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2ch;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff44f;
    border: none;
    cursor: pointer;
  }
  
  #circle-button:hover {
    background-color: #fff44f;
  }
  
  #circle-button:focus {
    outline: none;
  }
  
  #circle-button svg {
    color: black;
    font-size: 30px;
  }
  
  

  #topnav {
      overflow: hidden;
      background-color: #FFFEF2;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 0.1em;
      padding: 7ch;
      height: 100%;
    }
    
    #icon{
      color: white;
      padding: 2ch;
      display: flex;
      align-items: center;
      justify-content: center; /* Vertically center the child elements */
    }
    
    #topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 7px;
      text-decoration: none;
      font-size: 14px;
    }
    
    /* #topnav a:hover {
      color: #FFF44F;
    } */
    
    #topnav a#active {
      /* background-color: black; */
      color: black;
    }
    
    #topnav #icon {
      display: none;
    }

    @media screen and (max-width: 1050px) {
        #topnav a:not(:first-child) {
          display: none;
        }
    }
    
    @media screen and (max-width: 600px) {
      #topnav a:not(:first-child) {
        display: none;
      }
    
      #topnav #icon {
        float: right;
        display: block;
      }
    
      #topnav.responsive #icon {
        float: none;
        position: absolute;
        right: 0;
        top: 0;
      }
    
      #topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
  
      #topnav.responsive #Login {
        float: none;
        position: absolute;
        margin-right: 2ch;
        right: 0;
        top: 0;
        margin-right: 5.5ch;
      }
      #Login{
        float: none;
        position: absolute;
        margin-right: 2ch;
        right: 0;
        top: 0;
        margin-right: 5.5ch;
      }
  
      #topnav.responsive #circle-button {
        position: fixed;
        top: 10px; /* Adjust the top position as needed */
        right: 40px; /* Adjust the right position as needed */
        z-index: 9999;
      }
  
      #topnav.responsive #notofications {
        /* float: none;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 13ch;
        color: white; */
        position: fixed;
        top: 5px; /* Adjust the top position as needed */
        right: 113px; /* Adjust the right position as needed */
        z-index: 9999;
      }
      #notofications{
        position: fixed;
        top: 5px; /* Adjust the top position as needed */
        right: 113px; /* Adjust the right position as needed */
        z-index: 9999;
        font-size: 18px;
      }
      #circle-button{
        position: fixed;
        top: 10px; /* Adjust the top position as needed */
        right: 40px; /* Adjust the right position as needed */
        z-index: 9999;
      }
    }
  
  /* //DropDown  CSS*/
  #dropdown-menu {
    position: absolute;
    margin-right: 2ch;
    top: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Set the background color with transparency */
    backdrop-filter: blur(8px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 100;
  }
  
  #user-info {
    padding: 16px;
  }
  
  #username {
    font-weight: bold;
    color: #FFF44F;
  }
  
  #email {
    color: white;
    margin-top: 8px;
  }
  
  #logout {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: #e3dbda;
  }
  #Logo{
    font-size:x-large;
    margin-left: 0.2ch;
  }
  
  #logout:hover {
    color:white;
    cursor: pointer;
  }
  
  .show {
    display: block;
  }
  
  @media (max-width: 768px) {
    #dropdown-menu {
      min-width: 100%;
    }
  }
